.footer {
    height: 55px;
    display: flex;
    justify-content: space-between;
    background-color: #0067A3;
    color: #fff;
    padding-left: 21px;
    padding-right: 19px;
    padding-top: 17px;

}

.footer h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.tasks {
    display: flex;
}

.activeTasks {
    margin-right: 36px;
}

@media screen and (max-width: 600px) {
    .footer {
        display: none;
    }
}